services:
  backend:
    image: dhruv2k3/biasbreaker-backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - biasbreaker-net
networks:
  biasbreaker-net:
    driver: bridge