services:
  backend:
    image: dhruv2k3/alluvium-backend:latest
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - alluvium-net
networks:
  alluvium-net:
    driver: bridge